<h1>Eat da Burger Heading</h1>

<h2>Burgers that are not devoured!</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>{{burger_name}}</li>
        <form class="devour-form">
          <input type="hidden" id="id" value={{id}}>
          <button type="submit">Devour</button>
        </form>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are devoured!</h2>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      <div>
        <li>{{burger_name}}</li>
      </div>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="add-form">

  <div class="form-group">
    <label for="bur">Burger Name:</label>
    <input type="text" id="addBurger" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>