li {
    padding: 5px;
    margin: 5pm;
    background: #faebd7;
}

.label {
    font-weight: bold;
}

.create-form {
    padding: 5px;
    margin: 5pm;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}